.avatar {
    align-self: center;
    width: 250px;
    height: 250px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 18px;
    padding: 10px;
    padding-left: 200px;
    padding-right: 200px;
}

h1 {
    font-size: 90px;
}
h2 {
    font-size: 40px;
    padding-top: 200px;
}
p {
    padding-top: 40px;
}

ul {
    list-style-type: none;
}
li {
    padding-top: 20px;
}
